# ignore crypto library
Crypto

*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*~
.DS_Store
PKG_INFO
MANIFEST.in
Makefile
setup.cfg
setup.py
app.yaml
*.lst
*.zip